@tailwind base;
@tailwind components;
@tailwind utilities;


.border-bottom-right-radius {
    clip-path: polygon(50% 0%, 100% 0, 100% 83%, 77% 100%, 0 100%, 0% 60%, 0 0);
}

.hero-pattern {
    background-image: url(./../../public/Texture.png), url(./../../public/Background.png);
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.brash-pattern {
    background-image: url(./../../public/Brush.png);
    height: auto;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

.w-300{
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}

@media(max-width: 600px) {
    .w-300{
        min-width: 100%;
    }
}
